body{font-family: "Futura";background:#dedede;z-index:-1000;width:100%;height:100%;padding:0;margin:0;} /* color:#1e1e1e;*/
#webpage{margin:20px;}
#webpage-lateral{float:left;height:600px;background:#26A69A;width:190px;-webkit-box-shadow: -4px -2px 23px -6px rgba(0,0,0,0.75);-moz-box-shadow: -4px -2px 23px -6px rgba(0,0,0,0.75);box-shadow: -4px -2px 23px -6px rgba(0,0,0,0.75);border-radius:5px;}
#webpage-lateral-menu{color:#fff;}
.menu-item{width:190px;height:60px;background:#26A69A;vertical-align: middle;line-height:60px;} 
.menu-item:hover{background:#2cb8ab;cursor:pointer;margin:0;padding:0;}
.menu-item-img{vertical-align:middle;width:40px;height:40px;margin-left:5px;}
#webpage-body{float:right;background:#26A69A;height:600px;width: calc(100% - 200px);border-radius:10px;-webkit-box-shadow: -4px -2px 23px -6px rgba(0,0,0,0.75);-moz-box-shadow: -4px -2px 23px -6px rgba(0,0,0,0.75);box-shadow: -4px -2px 23px -6px rgba(0,0,0,0.75);}
#testeo{float:right;background:red;height:500px;width: calc(100% - 200px);border-radius:10px;-webkit-box-shadow: -4px -2px 23px -6px rgba(0,0,0,0.75);-moz-box-shadow: -4px -2px 23px -6px rgba(0,0,0,0.75);box-shadow: -4px -2px 23px -6px rgba(0,0,0,0.75);}
#webpage-body #tab-1,#webpage-body #tab-2,#webpage-body #tab-3,
#webpage-body #tab-4,#webpage-body #tab-5,#webpage-body #tab-6 {height: 2.5em;visibility: hidden;}
#webpage-body #text-tab-1,#webpage-body #text-tab-2,
#webpage-body #text-tab-3,#webpage-body #text-tab-4,
#webpage-body #text-tab-5,#webpage-body #text-tab-6 {
 background: #f9f9f9;
 border-radius: .25em .25em 0 0;
 color: #888;
 cursor: pointer;
 display: block;
 float: left;
 font-size: 1em;
 height: 2.5em;
 line-height: 2.5em;
 margin-right: .25em;
 padding: 0 1.5em;
 text-align: center;
}

.menu-border-top{border-top:1px solid #8ec1bc;}
.menu-border-bottom{border-bottom:1px solid #8ec1bc;}


#webpage-body input:hover + label {background: #ddd;color: #666;}
#webpage-body input#tab-1:checked + label, #webpage-body input#tab-2:checked + label, #webpage-body input#tab-3:checked + label, #webpage-body input#tab-4:checked + label, #webpage-body input#tab-5:checked + label, #webpage-body input#tab-6:checked + label {background: #f1f1f1; color: #444;position: relative;z-index: 6;}
#webpage-body-content {background: #f1f1f1;border-radius: 0 .25em .25em .25em;position: relative;width: 100%;z-index: 5;}
#webpage-body-content #content-1, #webpage-body-content #content-2, #webpage-body-content #content-3, #webpage-body-content #content-4, #webpage-body-content #content-5,#webpage-body-content #content-6{opacity: 0;padding: 1.5em;position: absolute;z-index: -100;}
#content-1, #content-2, #content-3, #content-4, #content-5, #content-6{background:#ffffff;width: calc(100% - 52px);overflow-y:hidden;overflow:auto;height:512px;-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 9px;
-moz-border-radius-bottomright: 9px;
-moz-border-radius-bottomleft: 9px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;}

#content {background:#ffffff;width: 100%;overflow-y:hidden;overflow:auto;height:560px;-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 9px;
-moz-border-radius-bottomright: 9px;
-moz-border-radius-bottomleft: 9px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;}







#webpage-body input#tab-1:checked ~ #webpage-body-content #content-1,
#webpage-body input#tab-2:checked ~ #webpage-body-content #content-2,
#webpage-body input#tab-3:checked ~ #webpage-body-content #content-3 {opacity: 1;z-index: 100;}

#webpage-body input#tab-1,#webpage-body input#tab-2,#webpage-body input#tab-3{z-index:200;}


@font-face {
    font-family: "Futura";
    src: url("../php/fonts/Roboto-Regular.ttf");
}